<div class="d-flex align-items-center justify-content-center mt-4">
  <ng-container
    *ngIf="postDetail$ | async as postDetail; else postDetailLoader"
  >
    <div class="card" style="width: 20rem">
      <div class="card-body">
        <h5 class="card-title text-center">{{ postDetail.title }}</h5>
        <p class="card-text mt-2">{{ postDetail.body }}</p>
      </div>
    </div>
  </ng-container>

  <ng-template #postDetailLoader>
    <div class="d-flex align-items-center justify-content-center h-100">
      <app-loader *ngIf="postDetailLoading()"> </app-loader>
    </div>
  </ng-template>
</div>
