<div
  class="posts-list-container d-flex align-items-center justify-content-between flex-wrap"
>
  <ng-container *ngIf="posts$ | async as posts; else postDetailLoader">
    <div
      class="card clickable"
      *ngFor="let post of posts; index as i"
      [routerLink]="'/posts/' + post.id"
      routerLinkActive="router-link-active"
    >
      <div class="card-body">
        <h6 class="text-start mb-1">
          <strong>Post: {{ i + 1 }}</strong>
        </h6>
        <h6 class="card-title text-start">
          <strong>Title: </strong>{{ post.title }}
        </h6>
        <p class="card-text text-start mt-2">
          <strong>Description: </strong>{{ post.body }}
        </p>
      </div>
    </div>
  </ng-container>

  <ng-template #postDetailLoader>
    <div class="loader d-flex align-items-center justify-content-center h-50">
      <app-loader *ngIf="postsLoading()"> </app-loader>
    </div>
  </ng-template>
</div>
