<div class="dashboard-sidebar d-flex flex-column flex-shrink-0 p-3 bg-light">
  <a
    href="/"
    class="d-flex align-items-center mb-md-0 me-md-auto link-dark text-decoration-none"
  >
    <span class="fs-4 text-start">Social Grid</span>
  </a>
  <span class="fs-6 text-start">Workspace</span>
  <ul class="nav nav-pills flex-column mb-auto mt-4">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page"> Dashboard </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark"> Posts </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark"> Albums </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark"> Photos </a>
    </li>
  </ul>
  <div class="dropdown">
    <a
      href="#"
      class="d-flex justify-content-start align-items-center link-dark text-decoration-none"
    >
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <div class="user-profile">
        <strong>mdo</strong>
        <a>View profile</a>
      </div>
    </a>
  </div>
</div>
