:host {
  width: 100%;
}
.card {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.photos-list-container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
  width: 20rem;
  margin-bottom: 25px;
  color: rgb(46, 46, 112);
}
.card-body img {
  border-radius: 2px;
}
.photos-list-container {
  padding: 20px 30px;
  overflow: auto;
  height: calc(100vh - 48px);
}

.loader {
  width: 100%;
}


@media (max-width: 768px) {
  .photos-list-container .card {
    width: 15rem;
    font-size: 0.9rem;
  }
}