.dashboard {
  background: #e7e7e7;
  padding: 10px;
  height: 100vh;
  .white-pane {
    background: white;
    border-radius: 2px;
  }

  .analytics {
    height: 15vh;
  }
  .photos {
    margin-top: 20px;
    height: 75vh;
    padding: 15px;
    overflow: auto;
    .photo-list {
      gap: 15px;
      margin-top: 20px;
      .album-card {
        img {
          border-radius: 2px;
        }
        .album-title {
          font-size: small;
          white-space: nowrap;
          width: 120px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .top-posts {
    max-height: 93vh;
    padding: 15px;
    overflow: auto;
  }
}

.info-box {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.info-box i {
  font-size: 35px;
  color: #f05050;
}
.info-box span {
  font-weight: bold;
  font-size: 20px;
}